/*-- scss:defaults --*/
h1 {
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

h2 {
    color: white;
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

h3 {
    color: white;
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

h4 {
    color: white;
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

h5 {
    color: white;
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

h6 {
    color: white;
    text-transform: initial;
    font-weight: normal;
    color: white;
    color: white;
  }

$code-block-bg: grey-900; // Set to your desired background color

$sidebar-bg-color: grey-900;
$sidebar-text-color: white;
$sidebar-active-color: white;
$sidebar-collapsed-icon-color: white;