/*-- scss:defaults --*/
body {
  background-color: #efcba7;
}

h1 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
    color: #000000;
  }

h2 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
  }

h3 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
  }

h4 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
  }

h5 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
  }

h6 {
    text-transform: initial;
    font-weight: normal;
    color: #000000;
  }